.card {
    align-self: center;
    border: 2px solid orange;
    width: 100px;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

img {
    width: 80px;
    height: 80px;
    margin: auto;
}

.setting {
    display: flex;
    justify-content: center;
    align-items: center;
}